html {
    box-sizing: border-box !important;
}

  *,
  *:before,
  *:after {
    box-sizing: inherit !important;
  }

body {
    width: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
}

.container {
  width: 100% !important;
  margin: auto;
}

section {
  height: auto;    
}
